@model WebApplication1.Models.Motorista

@{
    ViewBag.Title = "DetalhesMot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetalhesMot</h2>

<div>
    <h4>Motorista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar Motorista", "ListMot", new { id = Model.id, Model.email, Model.cnh, Model.senha, Model.telefone }) |
    @Html.ActionLink("Voltar", "ListMot")
</p>
