@model IEnumerable<WebApplication1.Models.Passageiro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Passageiro", "Inserir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>

            <td>
                @Html.ActionLink("Alterar", "Alterar", new {  item.id, item.nome, item.telefone, item.endereco, item.email, item.cpf, item.senha }) |
                @Html.ActionLink("Detalhes", "Detalhes", new {  item.id, item.nome, item.telefone, item.endereco, item.email, item.cpf, item.senha }) |
                @Html.ActionLink("Deletar", "Deletar", new { item.id, item.nome, item.telefone, item.endereco, item.email, item.cpf, item.senha })
            </td>
        </tr>
    }

</table>