@{
    Layout = "~/Views/Shared/_LayoutFuncionario .cshtml";
}
@model IEnumerable<HeyBus.Models.Cliente>

<header class="cabecalho d-flex justify-content-between align-items-baseline">
    <h1><span>Cliente |</span> Consulta</h1>
    <img src="~/images/logoheybus-branco.png" />
</header>
<div class="filtro-consulta">
    <div class="d-flex mb-2">
        <h2>Procurar por: </h2>
        <select id="Filtros" class="form-control form-control-sm col-md-1 col-4 ml-3">
            <option value="ID">ID</option>
            <option value="Nome">Nome</option>
            <option value="CPF">CPF</option>
        </select>
    </div>
    <input id="Filtrar" name="Filtrar" type="text" class="form-control col-8 col-sm-6 col-md-3" placeholder="Digite o filtro aqui.">
    <input type="submit" id="BtnFiltrar" value="Filtrar" class="btn-laranja mt-2" />
</div>
<div class="box-consulta">
    <table class="table table-bordered tbResizable">
        <thead>
            <tr>
                <th style="min-width:10px;max-width:100px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.id_Cliente)
                </th>
           
                <th  style="min-width:10px;max-width:170px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.cpf_Cliente)
                </th>
                <th style="min-width:10px;max-width:400px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.nome_Cliente)
                </th>
                <th style="min-width:10px;max-width:150px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.nascimento_Cliente)
                </th>
                <th style="min-width:10px;max-width:150px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.tel_Cliente)
                </th>
                <th style="min-width:10px;max-width:150px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.cel_Cliente)
                </th>
                <th style="min-width:10px;max-width:320px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.email_Cliente)
                </th>
                <th style="font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.usuario_Cliente)
                </th>
            </tr>
        </thead>
        <tbody id="ProcurarDados">
            @foreach(var item in Model)
            {
                <tr>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.id_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.cpf_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.nome_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.nascimento_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.tel_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.cel_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.email_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.usuario_Cliente)
                    </td>

                </tr>

             }
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Filtrar").keyup(function () {
            var Filtros = $("#Filtros").val();
            var Filtrar = $("#Filtrar").val();
            var RecebeData = $("#ProcurarDados");
            RecebeData.html("");
            $.ajax({
                type: "post",
                url: "/Clientes/GetFiltrarDados?Filtros=" + Filtros + "&ValorFiltro=" + Filtrar,
                contentType: "html",
                success: function (resultado) {
                    if (resultado.length == 0) {
                        RecebeData.append('<tr style="color: red"><td colspan="3">Nenhum dado encontrado</td></tr>')
                    }
                    else {
                        $.each(resultado, function (consultar, value) {
                            var Dados = "<tr>" +
                                "<td>" + value.id_Cliente + "</td>" +
                                "<td>" + value.cpf_Cliente + "</td>" +
                                "<td>" + value.nome_Cliente + "</td>" +
                                "<td>" + value.nascimento_Cliente + "</td>" +
                                "<td>" + value.tel_Cliente + "</td>" +
                                "<td>" + value.cel_Cliente + "</td>" +
                                "<td>" + value.email_Cliente + "</td>" +
                                "<td>" + value.usuario_Cliente + "</td>"+
                                "</tr>";
                            RecebeData.append(Dados);
                        });
                    }
                }
            });
        });
    });
</script>
