@model HeyBus.Models.Cliente
@{
        ViewBag.Title = "Perfil";
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="bg-light">
    <section class="perfil-cliente">
        <div class="box-dados-clientes">
            <h1 class="pb-0">Dados</h1>
            <hr style="width:90%;" />
            <form id="form-meu-perfil" class="p-2 pl-3">
                @Html.HiddenFor(model => model.id_Cliente)
                <div class="form-group">
                    <label for="nome" class="mb-0">Nome Completo</label>
                    <br />
                    @Html.DisplayFor(model => model.nome_Cliente)
                </div>
                <div class="form-group">
                    <label for="cpf" class="mb-0">CPF</label>
                    <br />
                    @Html.DisplayFor(model => model.cpf_Cliente)
                </div>
                <div class="form-group">
                    <label for="nascimento" class="mb-0">Data de Nascimento</label>
                    <br />
                    @Html.DisplayFor(model => model.nascimento_Cliente)
                </div>
            </form>
            <h1 class="pt-0 mt-0">Contato</h1>
            <hr style="width:90%;" />
            <form id="form-meu-perfil-contato" class="p-2 pl-3">
                <div class="d-flex align-items-baseline">
                    <div style="width:25px" class="m-2"><img src="~/images/tel-preto.gif" style="width:15px" /></div><input type="tel" class="design-input-perfil mt-0" id="telefone">
                </div>
                <div class="d-flex align-items-baseline">
                    <div style="width:25px" class="m-2"><img src="~/images/cel-preto.gif" style="width:12px" /></div><input type="tel" class="design-input-perfil mt-0" id="celular">
                </div>
                <div class="d-flex align-items-baseline">
                    <div style="width:25px" class="m-2 "><img src="~/images/email-preto.gif" style="width:17px" /></div><input type="text" class="design-input-perfil mt-0" id="email">
                </div>
            </form>
            <div class="text-right pr-4 pb-3">
                @Html.ActionLink("Alterar", "Alterar", new { id = Model.id_Cliente }, new { @class = "btn btn-estilo-claro" })
            </div>
        </div>
        <div class="pedidos-cliente">
            <h1>Pedidos</h1>
            <hr style = "width:90%;" class="mt-0" />
            <p>Dê uma olhada nas passagens que você comprou</p>
        </div>
    </section>
</body>

