@{
    Layout = "~/Views/Shared/_LayoutFuncionario .cshtml";
}
@model IEnumerable<HeyBus.Models.Rota>
<header class="cabecalho d-flex justify-content-between align-items-baseline">
    <h1><span>Rota |</span> Consulta</h1>
    <img src="~/images/logoheybus-branco.png" />
</header>
<div class="filtro-consulta">
    <div class="d-flex mb-2">
        <h2>Procurar por: </h2>
        <select id="Filtros" class="form-control form-control-sm col-md-1 col-4 ml-3">
            <option value="ID">ID</option>
            <option value="Nome">Destino</option>
            <option value="CPF">Origem</option>
        </select>
    </div>
    <input id="Filtrar" name="Filtrar" type="text" class="form-control col-8 col-sm-6 col-md-3" placeholder="Digite o filtro aqui.">
    <input type="submit" id="BtnFiltrar" value="Filtrar" class="btn-laranja mt-2"/>
</div>
<div class="box-consulta">
    <table class="table table-bordered tbResizable">
        <thead>
            <tr>
                <th style="min-width:10px;max-width:150px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.id_Rota)
                </th>
                <th style="min-width:10px;max-width:250px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.origem_Rota)
                </th>
                <th style="min-width:10px;max-width:250px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.destino_Rota)
                </th>
                <th style="min-width:10px;max-width:170px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.distancia_Rota)
                </th>
                
            </tr>
        </thead>
        <tbody id="ProcurarDados">
            @foreach (var item in Model)
            {
                <tr>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.id_Rota)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.origem_Rota)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.destino_Rota)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.distancia_Rota)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#BtnFiltrar").click(function () {
            var Filtros = $("#Filtros").val();
            var Filtrar = $("#Filtrar").val();
            var RecebeData = $("#ProcurarDados");
            RecebeData.html("");
            $.ajax({
                type: "post",
                url: "/Clientes/GetFiltrarDados?Filtros=" + Filtros + "&ValorFiltro=" + Filtrar,
                contentType: "html",
                success: function (resultado) {
                    if (resultado.length == 0) {
                        RecebeData.append('<tr style="color: red"><td colspan="3">Nenhum dado encontrado</td></tr>')
                    }
                    else {
                        $.each(resultado, function (index, value) {
                            var Dados = "<tr>" +
                                "<td>" + value.id_Rota + "</td>" +
                                "<td>" + value.destino_Rota + "</td>" +
                                "<td>" + value.origem_Rota + "</td>" +
                                "<td>" + value.distancia_Rota + "</td>" +
                                "</tr>";
                            RecebeData.append(Dados);
                        });
                    }
                }
            });
        });
    });
</script>