@model HeyBus.Models.Viagem
@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section id="sliderHome" class="carousel slide d-none d-sm-block" data-ride="carousel" data-interval="6000">

        <ol class="carousel-indicators">
            <li data-target="#sliderHome" data-slide-to="0" class="active"></li>
            <li data-target="#sliderHome" data-slide-to="1"></li>
            <li data-target="#sliderHome" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/imagemHome.jpg" alt="First slide">
                <div class="text-slider d-none d-md-block">
                    <h1>Aventure-se</h1> <h2>Divirta-se,</h2> <h3>Encontre a felicidade que você merece.</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/rio.jpg" alt="Second slide">
                <div class="text-rio-slider d-none d-md-block">
                    <button class="btn-show-txtSlider" type="button" data-toggle="collapse" data-target="#rioJaneiro" aria-expanded="false" aria-controls="collapseExample">
                        Uma curiosidade?
                    </button>
                    <div class="collapse" id="rioJaneiro">
                        <div class="box-texto pb-1">
                            <h1 class="display-4">Rio de Janeiro</h1>
                            <p class="lead">O Rio de Janeiro continua lindo...</p>
                            <hr class="my-4 bg-light">
                            <p>A Cidade Maravilhosa, representa a segunda maior economia do Brasil e é um dos principais vetores do turismo no Brasil.</p>

                        </div>
                    </div>
                </div>

                <div class="preco-slider-home" id="RioJaneiro">
                    <div class="OriDest">São Paulo x Rio de Janeiro</div>
                    <div class="description">Viaje por apenas</div>
                    <div class="cifrao">R$</div>
                    <div class="valor">102,25</div>
                </div>

            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/fortaleza.jpg" alt="Third slide">
                <div class="text-fortaleza-slider d-none d-md-block">
                    <button class="btn-show-txtSlider" type="button" data-toggle="collapse" data-target="#fortaleza" aria-expanded="false" aria-controls="collapseExample">
                        Uma curiosidade?
                    </button>
                    <div class="collapse" id="fortaleza">
                        <div class="box-texto pb-1">
                            <h1 class="display-4">Fortaleza</h1>
                            <p class="lead">Praias, comidas típicas e alegria.</p>
                            <hr class="my-4 bg-light">
                            <p>
                                A infraestrutura é uma das mais anabolizadas para atender quem quer curtir a areia e o mar. É próxima ao maior parque aquático
                                do país, o Beach Park.
                            </p>

                        </div>
                    </div>

                </div>
                <div class="preco-slider-home" style="background-color:rgba(0,0,0,.8)" id="Fortaleza">
                    <div class="OriDest">São Paulo x Fortaleza</div>
                    <div class="description">Viaje por apenas</div>
                    <div class="cifrao">R$</div>
                    <div class="valor">359,00</div>
                </div>
            </div>
        </div>
        <!--<a class="carousel-control-prev" href="#sliderHome" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
         <a class="carousel-control-next" href="#sliderHome" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a> setas de controle-->
    </section>

    <div id="buscar-passagem" class="pt-5 row w-100 align-items-center bg-light p-3 m-0">
        <aside id="box-comprar-passagem" class="col-lg-4 ml-md-5 mr-3">
            <p>Confira as viagens e compre a <span>passagem</span> que mais se adequa a você!</p>
            <form id="form-compra-passagem">
                <div class="form-group">
                    @Html.LabelFor(model => model.rot.origem_Rota, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.rot.origem_Rota, new { htmlAttributes = new { @class = "design-input-comprar", placeholder = "Digite seu ponto de partida." } })
                        @Html.ValidationMessageFor(model => model.rot.origem_Rota, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.rot.destino_Rota, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.rot.destino_Rota, new { htmlAttributes = new { @class = "design-input-comprar", placeholder = "Digite seu destino." } })
                        @Html.ValidationMessageFor(model => model.rot.destino_Rota, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6 col-sm-12 col-md-6">
                        @Html.LabelFor(model => model.data_Ida, htmlAttributes: new { @class = "" })

                        @Html.EditorFor(model => model.data_Ida, new { htmlAttributes = new { @class = "design-input-comprar" } })
                        @Html.ValidationMessageFor(model => model.data_Ida, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-6 col-sm-12 col-md-6">
                        @Html.LabelFor(model => model.data_Volta, htmlAttributes: new { @class = "" })

                        @Html.EditorFor(model => model.data_Volta, new { htmlAttributes = new { @class = "design-input-comprar" } })
                        @Html.ValidationMessageFor(model => model.data_Volta, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-row col-12 justify-content-center">
                        <button type="submit" class="btn-buscar-viagem-home col-8 ">Buscar</button>
                    </div>
                </div>
                <small class="text-link"><a data-toggle="modal" data-target="#instrucoes">Instruções</a></small>
            </form>
        </aside>
        <article id="boasVindas" class="col-lg-7 text-center">
            <h1>Bem Vindos ao site oficial da HeyBus!</h1>
            <h2 class="pb-5">Aqui você encontra tudo sobre nós.</h2>
            <ul>
                <li><img src="~/images/historia.gif" style="width:30px;" /> História</li>
                <li><img src="~/images/viagem.gif" style="width:30px;" /> Viagens</li>
                <li><img src="~/images/servicos.gif" style="width:30px;" /> Serviços</li>
                <li><img src="~/images/duvidas.gif" style="width:30px;" /> Tire suas dúvidas</li>
            </ul>
            E muitas outras coisas... Navegue e descubra mais!
        </article>
    </div>
    <!-- Modal - form onde serão escritas as instruções-->
    <div class="modal fade" id="instrucoes" tabindex="-1" role="dialog" aria-labelledby="instrucoesTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="instrucoesTitle">Instruções para pesquisa de viagens</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body justify p-4 pt-0" style="color:rgba(0,0,0,.78);line-height:1.6;">
                    Este Formulário apresenta instruções relacionadas a compra de passagens. Nele você poderá
                    escolher a origem e o destino do local que deseja, além de escolher a data de saída e data de
                    volta de sua viagem, com isso você será redirecionado a área do cliente, onde poderá
                    consultar e verificar sua escolha. Veja as instruções a seguir:
                    <ol class="mt-3 ">
                        <li>Os únicos campos obrigatórios são: Destino e Origem.</li>
                        <li>
                            Tome cuidado ao preencher os nomes das cidades, pois estes se escritos
                            incorretamente, resultarão na falha da busca.
                        </li>
                        <li>Qualquer outra dúvida, entre em contato conosco, clicando no link ao lado <a href="~/Home/Contato">clique aqui.</a></li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!--Fim Modal-->
    <section id="topViagens" class="container-fluid">
        <div class="d-flex d-inline-block flex-wrap mb-5 mt-5 align-items-baseline">
            <h1>Destinos mais procurados</h1> <img src="~/images/localizacao.gif" style="width:35px" class="ml-2" />
        </div>
        <div class="row ">
            <div class="col-md-6 col-lg-4 p-2 ">
                <div class="card box-shadow" style="width: 21rem;margin:auto">
                    <img class="card-img-top" src="~/images/salvador.gif" alt="Salvador">
                    <div class="card-body">
                        <h5 class="card-title">Salvador</h5>
                        <hr />
                        <p class="card-text mb-2">Foi a 1ª Capital Brasileira. <br />É um Destino Turistico conhecido internacionalmente</p>
                        <small class="text-link"><a href="#buscar-passagem">Clique aqui para pesquisar sua viagem.</a></small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 p-2">
                <div class="card box-shadow" style="width: 21rem;margin:auto">
                    <img class="card-img-top" src="~/images/portoAlegre.gif" alt="Porto Alegre">
                    <div class="card-body">
                        <h5 class="card-title">Porto Alegre</h5>
                        <hr />
                        <p class="card-text mb-2">É bastante conhecido pelo seu monumento aos Açorianos e por ser uma cidade bem arborizada</p>
                        <small class="text-link"><a href="#buscar-passagem">Clique aqui para pesquisar sua viagem.</a></small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 p-2">
                <div class="card box-shadow" style="width: 21rem;margin:auto">
                    <img class="card-img-top" src="~/images/brasilia.gif" alt="Brasília">
                    <div class="card-body">
                        <h5 class="card-title">Brasília</h5>
                        <hr />
                        <p class="card-text mb-2">Atual capital do Brasil, uma cidade repleta de atrações arquitetônicas e urbanísticas.</p>
                        <small class="text-link"><a href="#buscar-passagem">Clique aqui para pesquisar sua viagem.</a></small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 p-2">
                <div class="card box-shadow" style="width: 21rem;margin:auto">
                    <img class="card-img-top" src="~/images/fernandoDeNoronha.gif" alt="Fernando de Noronha">
                    <div class="card-body">
                        <h5 class="card-title">Fernando de Noronha</h5>
                        <hr />
                        <p class="card-text mb-2">Um lugar com praias pitorescas, locais de mergulho e golfinhos.</p><br />
                        <small class="text-link"><a href="#buscar-passagem">Clique aqui para pesquisar sua viagem.</a></small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 p-2">
                <div class="card box-shadow" style="width: 21rem;margin:auto">
                    <img class="card-img-top" src="~/images/camposDoJordao.gif" alt="Campos do Jordão">
                    <div class="card-body">
                        <h5 class="card-title">Campos do Jordão</h5>
                        <hr />
                        <p class="card-text mb-2">Venha conhecer um lindo lugar com arquitetura de estilo suiço.</p><br />
                        <small class="text-link"><a href="#buscar-passagem">Clique aqui para pesquisar sua viagem.</a></small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 p-2">
                <div class="card box-shadow" style="width: 21rem;margin:auto">
                    <img class="card-img-top" src="~/images/bonito.gif" alt="Bonito">
                    <div class="card-body">
                        <h5 class="card-title">Bonito</h5>
                        <hr />
                        <p class="card-text mb-2">Centro de ecoturismo brasileiro com rios de águas limpas, cochoeiras extensas e trilhas florestais.</p>
                        <small class="text-link"><a href="#buscar-passagem">Clique aqui para pesquisar sua viagem.</a></small>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

