@model HeyBus.Models.Viagem
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <body style="background-color:rgba(235, 235, 235, 0.27)">
        <div class="img-princ-onibus"></div>
        <div id="onibus" class="onibus">
            <h1>Categorias de ôni<span>bus</span></h1>
            <div class="m-4 p-3 bg-white shadow-cat-onibus " id="convencional">
                <div class="grid-categoria-onibus">
                    <div class="txt-categoria-onibus">
                        <h2>Convencional</h2>
                        <p class="justify">
                            Esse modelo é o mais básico e com o menor custo. É apropriado para viagens curtas ou para quem quer economizar.
                            Os ônibus são mais simples, dependendo da distância há banheiro, não possuem ar condicionado e a poltrona reclina pouco.
                        </p>
                    </div>
                    <div class="icons-categoria-onibus" style="display:flex; justify-content:space-between;align-items: last baseline;">
                        <div>
                            <img src="~/images/convencional.gif" style="width:55px" />
                        </div>
                        <div>
                            <img src="~/images/cifrao.gif" style="width:15px;opacity:.3; vertical-align:bottom;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-4 p-3 bg-white shadow-cat-onibus" id="executivo">
                <div class="grid-categoria-onibus">
                    <div class="txt-categoria-onibus">
                        <h2>Executivo</h2>
                        <p class="justify">
                            Oferece mais conforto que o convencional e é ideal para quem deseja ter um pouco mais de comodidade com destinos curtos a
                            médios. Os ônibus executivos tem ar condicionado, banheiro, frigobar com água mineral e todos os assentos possuem encosto mais
                            reclinável que o convencional. Em algumas linhas, é oferecido outros serviços com acesso a internet, DVD com filme, etc.
                        </p>
                    </div>
                    <div class="icons-categoria-onibus" style="display:flex; justify-content:space-between;align-items: last baseline;">
                        <div>
                            <img src="~/images/executivo.gif" style="width:75px" />
                        </div>
                        <div>
                            <img src="~/images/toilet.gif" style="width:17px;opacity:.3; vertical-align:bottom;" />
                            <img src="~/images/ar-condicionado.gif" style="width:23px;opacity:.3; vertical-align:bottom;" />
                            <img src="~/images/frigobar.gif" style="width:28px;opacity:.5; vertical-align:bottom;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-4 p-3 bg-white shadow-cat-onibus" id="semi-leito">
                <div class="grid-categoria-onibus">
                    <div class="txt-categoria-onibus">
                        <h2>Semi-Leito</h2>
                        <p class="justify">
                            Serviços desta classe oferecem um melhor conforto para seu assento. Os ônibus são equipados com fileiras de assentos
                            individuais com amortecimento para braços e pernas e poltronas reclináveis, mas que não ficam totalmente horizontais.
                            Possui um sistema de ar condicionado com fluxo de ar ajustável individualmente para cada banco, apoio para pernas,
                            banheiro e frigobar com água.
                        </p>
                    </div>
                    <div class="icons-categoria-onibus" style="display:flex; justify-content:space-between;align-items: last baseline;">
                        <div>
                            <img src="~/images/semi-leito.gif" style="width:85px" />
                        </div>
                        <div>
                            <img src="~/images/toilet.gif" style="width:17px;opacity:.3; vertical-align:bottom;" />
                            <img src="~/images/ar-condicionado.gif" style="width:23px;opacity:.3; vertical-align:bottom;" />
                            <img src="~/images/frigobar.gif" style="width:28px;opacity:.5; vertical-align:bottom;" />
                            <img src="~/images/wifi.gif" style="width:30px;opacity:.6; vertical-align:bottom;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-4 p-3 bg-white shadow-cat-onibus" id="leito">
                <div class="grid-categoria-onibus">
                    <div class="txt-categoria-onibus">
                        <h2>Leito</h2>
                        <p class="justify">
                            São os ônibus mais confortáveis. As poltronas são largas e completamente reclináveis,
                            trazendo também descanso para as pernas, praticamente uma cama há um tipo de separação
                            entre seu assento e o assento da frente e atrás, afim de preservar a sua privacidade.
                            São os ideais para as viagens mais longas e para horários noturnos. Oferece mmantas,
                            travesseiros, água, há opções que ainda oferecem TV com DVD, wi-fi, lanches, rádio individual.
                        </p>
                    </div>
                    <div class="icons-categoria-onibus" style="display:flex; justify-content:space-between;align-items: last baseline;">
                        <div>
                            <img src="~/images/leito.gif" style="width:85px" />
                        </div>
                        <div>
                            <img src="~/images/toilet.gif" style="width:17px;opacity:.3; vertical-align:bottom;" />
                            <img src="~/images/tv.gif" style="width:29px;opacity:.3; vertical-align:bottom;" />
                            <img src="~/images/ar-condicionado.gif" style="width:23px;opacity:.3; vertical-align:bottom;" />
                            <img src="~/images/frigobar.gif" style="width:28px;opacity:.5; vertical-align:bottom;" />
                            <img src="~/images/wifi.gif" style="width:30px;opacity:.6; vertical-align:bottom;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-4 p-3 bg-white shadow-cat-onibus" id="double-decker">
                <div class="grid-categoria-onibus">
                    <div class="txt-categoria-onibus">
                        <h2>Double Decker</h2>
                        <h3>GTV 1ª Classe</h3>
                        <p class="justify">
                            Dividem os serviços internamente, com serviços Leito e Executivo ou Semi Leito.<br />
                            Serviço Leito: cabine independente com isolamento acústico, com 9 poltronas extra largas leito,
                            duplas ou individuais (em couro), manta e travesseiro, lanche especial, frigobar, calefação, toilette, ar e DVD.<br />
                            Serviço Executivo: 24 poltronas semi-leito, com descansa pés, lanche, frigobar, calefação, toilette, ar e DVD.<br />
                            *Fornecimento de manta, travesseiro e lanche, sujeito a alteração sem prévio aviso.
                        </p>
                    </div>
                    <div class="icons-categoria-onibus" style="display:flex; justify-content:space-between;align-items: last baseline;">
                        <div>
                            <img src="~/images/executivo.gif" style="width:75px" />
                            <img src="~/images/semi-leito.gif" style="width:85px" />
                            <img src="~/images/leito.gif" style="width:85px" />
                        </div>
                        <div>
                            <img src="~/images/toilet.gif" style="width:17px;opacity:.3; vertical-align:bottom;" />
                            <img src="~/images/tv.gif" style="width:29px;opacity:.3; vertical-align:bottom;" />
                            <img src="~/images/ar-condicionado.gif" style="width:23px;opacity:.3; vertical-align:bottom;" />
                            <img src="~/images/frigobar.gif" style="width:28px;opacity:.5; vertical-align:bottom;" />
                            <img src="~/images/wifi.gif" style="width:30px;opacity:.6; vertical-align:bottom;" />
                            <img src="~/images/travesseiro.gif" style="width:27px;opacity:.4; vertical-align:bottom;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <aside class="comprar-passagem-fixed"><a style="cursor:pointer" class="aaa" data-toggle="modal" data-target="#linkCompraPassagem">&#xe087; Compre sua passagem</a></aside>

    <div class="modal fade" id="linkCompraPassagem" tabindex="-1" role="dialog" aria-labelledby="instrucoesTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <aside id="box-comprar-passagem">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>Confira as viagens e compre a <span>passagem</span> que mais se adequa a você!</p>
                    <form id="form-compra-passagem">
                        <div class="form-group">
                            @Html.LabelFor(model => model.rot.origem_Rota, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.rot.origem_Rota, new { htmlAttributes = new { @class = "design-input-comprar", placeholder = "Digite seu ponto de partida." } })
                                @Html.ValidationMessageFor(model => model.rot.origem_Rota, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.rot.destino_Rota, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.rot.destino_Rota, new { htmlAttributes = new { @class = "design-input-comprar", placeholder = "Digite seu destino." } })
                                @Html.ValidationMessageFor(model => model.rot.destino_Rota, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6 col-sm-12 col-md-6">
                                @Html.LabelFor(model => model.data_Ida, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.data_Ida, new { htmlAttributes = new { @class = "design-input-comprar" } })
                                @Html.ValidationMessageFor(model => model.data_Ida, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-6 col-sm-12 col-md-6">
                                @Html.LabelFor(model => model.data_Volta, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.data_Volta, new { htmlAttributes = new { @class = "design-input-comprar" } })
                                @Html.ValidationMessageFor(model => model.data_Volta, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-row col-12 justify-content-center">
                                <button type="submit" class="btn-buscar-viagem-home col-8 ">Buscar</button>
                            </div>
                        </div>
                    </form>
                </aside>
            </div>
        </div>
    </div>
}