@model HeyBus.Models.Viagem
@{
    ViewBag.Title = "Serviços";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mt-5 hidden introServicos" id="introServicos">
        <div class="txt-introServicos">
            <h1>+ de 10 Variedades de serviços - Escolhidos especialmente para você </h1>
            <h2>
                Queremos que desfrute o máximo em todas experiências que vier a ter conosco. Basta nos dar
                uma oportunidade que iremos te surpreender.
            </h2>
        </div>
    </div>

    <div class="img-Serv-Oferecidos" id="Veiculos">
        <div class="tit-Serv-Oferecidos">Veículos</div>
    </div>
    <div class="txt-Serv-Oferecidos">
        <p>Possuimos vários serviços relacionados com <span>veículos</span>, como:</p>
        <h3>Estacionamento</h3>
        <h4 style="color:rgb(232, 108, 5)">Planos:</h4>
        <ul>
            <li>1º Hora = gratuita / 2º Hora = R$17,00 / 3º Hora em diante, adicional de R$2,00</li>
            <li>Plano diário(24hr) = R$48,00</li>
            <li>Plano Mensal = R$920,00</li>
        </ul>
        <h3>Táxi</h3>
        <p>Localizado no Térreo, possui uma área destinada a solicitação de serviço de <span>táxi</span>. As placas te guiam facilmente até está área.</p>
        <h3>Locadora de <span>veículos</span></h3>
        <p>Atualmente trabalhamos apenas com a localiza. <br />Horário de funcionamento: <span>domingo a domingo das 06h às 00h</span></p>
    </div>
    <div class="img-Serv-Oferecidos" id="Alimentacao">
        <div class="tit-Serv-Oferecidos">Alimentação</div>
    </div>
    <div class="txt-Serv-Oferecidos">
        <p>
            Possuimos uma praça de alimentação no 3º andar, os alimentos são variados: <span>doces, salgados, comida japonesa, típica, fast food,</span> dentre outros...
            <br />Não da para vir aqui, e não fazer um boquinha, não é mesmo?
        </p>
    </div>
    <div class="img-Serv-Oferecidos" id="Bagagem">
        <div class="tit-Serv-Oferecidos">Bagagem</div>
    </div>
    <div class="txt-Serv-Oferecidos">
        <h3>Carregadores de <span>Bagagem</span></h3>
        <p>
            Possuímos uma parceria com o <stronge> Sindicato dos Carregadores e Transportadores de Bagagens </stronge> que fornecem serviço em estações
            rodoviárias de São Paulo.<br />
            Os preços variam de acordo com o tamanho da bagagem.<br />
            Dependendo da quantidade de bagagens, ajudamos você e não precisa pagar nada! Confira no balcão de informações localizado no <span>2º andar</span>.
        </p>
        <h3><span>Guarda-Volume</span></h3>
        <p>
            Esta localizado no 2º andar, próximo ao balcão de informações. <br />
            Você só precisa arrumar um lugarzinho disponivel e ele já é seu.<br />
            Todos possuem chaves, numeração e o par <span>(chave, armario)</span>possui uma cor única para facilitar para você! Além de dar um charme especial.
        </p>
    </div>

    <div class="img-Serv-Oferecidos" id="Outros">
        <div class="tit-Serv-Oferecidos">E muitos outros...</div>
    </div>
    <div class="txt-Serv-Oferecidos">
        <h3><span>Acessibilidade</span></h3>
        <p>
            A rodoviária é totalmente <span>estruturada</span> para comportar todas as pessoas. Possui piso tátil, rampas, elevadores, banheiros, corrimãos
            e vagas de estacionamento especiais colocadas estratégicamente.
        </p>

        <h3>Balcão de Informações</h3>
        <p>
            Está localizado no 2º piso e funciona <span>24hrs</span> por dia.<br />
            Pode ser contatado através do telefone: +55 (11) 3545-8994
        </p>

        <h3><span>Sala</span> de espera</h3>
        <p>
            No 3º piso, possuimos uma sala de espera com cadeiras extremamente confortáveis, televisões e <span>WI-FI livre</span> para
            você se sentir bem enquanto espera o horário da sua viagem!
        </p>
    </div>
    <aside class="comprar-passagem-fixed"><a style="cursor:pointer" class="aaa" data-toggle="modal" data-target="#linkCompraPassagem">&#xe087; Compre sua passagem</a></aside>

    <div class="modal fade" id="linkCompraPassagem" tabindex="-1" role="dialog" aria-labelledby="instrucoesTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <aside id="box-comprar-passagem">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>Confira as viagens e compre a <span>passagem</span> que mais se adequa a você!</p>
                    <form id="form-compra-passagem">
                        <div class="form-group">
                            @Html.LabelFor(model => model.rot.origem_Rota, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.rot.origem_Rota, new { htmlAttributes = new { @class = "design-input-comprar", placeholder = "Digite seu ponto de partida." } })
                                @Html.ValidationMessageFor(model => model.rot.origem_Rota, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.rot.destino_Rota, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.rot.destino_Rota, new { htmlAttributes = new { @class = "design-input-comprar", placeholder = "Digite seu destino." } })
                                @Html.ValidationMessageFor(model => model.rot.destino_Rota, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6 col-sm-12 col-md-6">
                                @Html.LabelFor(model => model.data_Ida, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.data_Ida, new { htmlAttributes = new { @class = "design-input-comprar" } })
                                @Html.ValidationMessageFor(model => model.data_Ida, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-6 col-sm-12 col-md-6">
                                @Html.LabelFor(model => model.data_Volta, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.data_Volta, new { htmlAttributes = new { @class = "design-input-comprar" } })
                                @Html.ValidationMessageFor(model => model.data_Volta, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-row col-12 justify-content-center">
                                <button type="submit" class="btn-buscar-viagem-home col-8 ">Buscar</button>
                            </div>
                        </div>
                    </form>
                </aside>
            </div>
        </div>
    </div>
}