@model IEnumerable<HeyBus.Models.Viagem>

@{
    ViewBag.Title = "BuscarViagemCompleta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="viagem-completa">
    
    <form class="form-consulta-viagem pt-4 pb-4">
        <h1>Busque uma <span>viagem:</span></h1>
        <div class="form-row  justify-content-between m-auto" style="width:85%;">
            <div class="form-group col-6 col-md-4">
                <label>Origem</label>
                <div>
                    <input type="text" placeholder="Origem" class="design-input-comprar" />
                </div>
            </div>
            <div class="form-group col-6 col-md-4">
                <label>Destino</label>
                <div>
                    <input type="text" placeholder="Destino" class="design-input-comprar" />
                </div>
            </div>
            <div class="form-group col-6 col-md-2">
                <label>Data de saída</label>
                <input type="text" placeholder="__/__/____" class="design-input-comprar maskdata" />
            </div>
            <div class="form-group col-6 col-md-2">
                <label>Data de volta</label>
                <input type="text" placeholder="__/__/____" class="design-input-comprar maskdata" />
            </div>
            <div class="form-row col-12 justify-content-center justify-content-md-end pt-md-3 pr-md-5">
                <button type="submit" class="btn-laranja col-sm-6 col-md-2 ">Buscar</button>
            </div>
        </div>
    </form>
    <h2>Consulte as passagens referentes a sua consulta.</h2>
    <hr class="m-auto" style="background-color:rgb(255, 106, 0); opacity:.4;width:95%" />
    @foreach (var item in Model)
    {
        <div class="box-viagem-completa">
            <div class="ori-dest">
                De @Html.DisplayFor(modelItem => item.rot.origem_Rota) para @Html.DisplayFor(modelItem => item.rot.destino_Rota) <br />
                <span>Ida @Html.DisplayFor(modelItem => item.data_Ida) - Volta @Html.DisplayFor(modelItem => item.data_Volta)</span>
            </div>
            <div class="viacao">@Html.DisplayFor(modelItem => item.oni.viacao_Onibus)<br /><span>@Html.DisplayFor(modelItem => item.oni.categoria_Onibus)</span></div>
            <div class="valor-viag">
                Valor <br /><span>R$ @Html.DisplayFor(modelItem => item.valor_Viagem)</span>
                @Html.ActionLink("Comprar", "Comprar", "Passagem", new { id = item.id_Viagem }, new { @class = "button-comprar btn-laranja" })
            </div>
        </div>
    }
</section>