@{
    Layout = "~/Views/Shared/_LayoutFuncionario .cshtml";
}
@model IEnumerable<HeyBus.Models.Viagem>

<header class="cabecalho d-flex justify-content-between align-items-baseline">
    <h1><span>Viagem |</span> Consulta</h1>
    <img src="~/images/logoheybus-branco.png" />
</header>
<div class="filtro-consulta">
    <div class="d-flex mb-2">
        <h2>Procurar por: </h2>
        <select id="Filtros" class="form-control form-control-sm col-md-1 col-4 ml-3">
            <option value="ID">Origem</option>
            <option value="Nome">Destino</option>
            <option value="CPF">Data Ida</option>
            <option value="CPF">ID</option>
        </select>
    </div>
    <input id="Filtrar" name="Filtrar" type="text" class="form-control col-8 col-sm-6 col-md-3" placeholder="Digite o filtro aqui.">
    <input type="submit" id="BtnFiltrar" value="Filtrar" class="btn-laranja mt-2" />
</div>
<div class="box-consulta">
    <table class="table table-bordered tbResizable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.rot.origem_Rota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rot.destino_Rota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.oni.viacao_Onibus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.oni.categoria_Onibus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data_Ida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data_Volta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.valor_Viagem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.horario_Viagem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rot.distancia_Rota)
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.rot.origem_Rota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rot.destino_Rota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oni.viacao_Onibus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oni.categoria_Onibus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_Ida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_Volta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valor_Viagem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.horario_Viagem)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.rot.distancia_Rota)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>