@{
    ViewBag.Title = "Login Funcionário";
    Layout = "~/Views/Shared/_LayoutSemNav.cshtml";
}
@model HeyBus.Models.Acesso
<body style="background-color:rgba(210, 210, 210, 0.4)">
    <img src="~/images/logoheybus-branco.png" style="width:180px; margin:20px;"/>
    <div class="login-funcionario">
        <div class="buraco-clip">
            <img src="~/images/clip.png" />
        </div>
        <h1>Para acessar o sistema, entre com seu usuário e senha </h1>
        <div class="icon-login-func">
            <img src="~/images/icon.png" />
        </div>
        @using (Html.BeginForm())
        {
            <div>
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-11  m-auto">
                    @Html.EditorFor(model => model.login_Acesso, new { htmlAttributes = new { @class = "input-funcionario", placeholder = "Usuário" } })
                    @Html.ValidationMessageFor(model => model.login_Acesso, "", new { @class = "text-danger" })
                </div>

                <div class="col-11 m-auto">
                    @Html.EditorFor(model => model.password_Acesso, new { htmlAttributes = new { @class = "input-funcionario", placeholder = "Senha" } })
                    @Html.ValidationMessageFor(model => model.password_Acesso, "", new { @class = "text-danger" })
                </div>

                <div class="mt-4 text-center">
                    <div class="col-12">
                        <input type="submit" value="Login" class="btn-estilo-claro" style="border-radius:.3rem;height:2.3rem; width:40%;"/>
                    </div>
                </div>
            </div>
        }
            <hr />
            <a href="~/Home/Index">Voltar a página inicial</a><br />
            <small>Não consegue acessar o seu login? Entre em contato com a área de T.I.</small>
    </div>
</body>

